.container{
   

    display: flex;
    flex-direction: column;
    justify-content:space-between;
    height: 25rem;
    background-color: rgb(62, 4, 62);
    border-radius: 2rem;
    padding: 2rem;
    color: white;
    font-size: 2rem;
}
.title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 2rem;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 2rem;
}
.footer img{
    height:3rem;
}
.title img{
    height:3rem;
}
.footer img:hover,
.title img:hover
{
    cursor: pointer;
    transform: scale(1.2);
}